html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;

}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  border-radius: 8px;
}

/* In your CSS file or within a <style> tag in your HTML */
html,
body {
  height: 100%;
  margin: 0;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #004d40; /* Dark green background */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
